li {
  list-style: none;
}
body {
  background: rgba(0, 0, 0, 0.95);
}
.gallery-container {
  width: 70%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(255, 255, 255, 0.5); */
  
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 10px;
  padding: 0;
  margin: 0;
}
li img {
  vertical-align: top;
  max-width: 200px;
  border-radius: 10px;
}
li img:hover {
  transform: scale(1.02);
}
#lightbox-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(12px);
  opacity: 0;
  transition: opacity 0.5s ease;
}
#lightbox-overlay.active {
  opacity: 1;
}
#lightbox-image {
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  border: 2px solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}